<div class="edit-shop-form">
  <%= simple_form_for @shop do |f| %>
    <%= f.input :name, as: :string %>
    <%= f.input :summary, as: :string %>
    <%= f.input :description, as: :text %>
    <%= f.input :location, as: :string %>
    <%= f.input :shop_url, as: :string %>
    <%= f.submit "Update store", class: "btn btn-dark" %>
  <% end %>
  <%= link_to "See all stores", shops_path, class: "btn btn-dark" %>
</div>