<div class="new-shop-form">
  <%= simple_form_for @shop do |f| %>
    <%= f.input :name, as: :string, placeholder: 'What is your store called?' %>
    <%= f.input :summary, as: :string, placeholder: 'Summary' %>
    <%= f.input :description, as: :text, placeholder: 'What is your store about? 🤔' %>
    <%= f.submit "Create store" %>
  <% end %>
  <%= link_to "See all stores", shops_path %>
</div>