<div class="show-shop">
  <h1><%= @shop.name %></h1>
  <h3><%= @shop.summary %></h3>
  <p><%= @shop.description %></p>
  <p><%= @shop.location %></p>
  <p><%= @shop.shop_url %></p>
  <%= link_to "See all stores", shops_path, class: "btn btn-dark" %>
</div>