<div class="page-container">
  <h1 class="myH1"><%= @event.title %></h1>
  <div class="show-image">
    <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="show-info">
    <div class="show-info__small-items">
      <div>
        <h3 class="myH3">Where?</h3>
        <p><%= @event.location %></p>
      </div>
      <div>
        <h3 class="myH3">When?</h3>
        <p><%= @event.date %><%= @event.time %></p>
      </div>
      <div>
        <h3 class="myH3">How much?</h3>
        <p>£<%= @event.price %></p>
      </div>
    </div>
    <div class="show-info__description">
      <h3 class="myH3">Info</h3>
      <p><%= @event.description %></p>
    </div>
    <% if !@attendees.empty? %>
      <h3>Attendees</h3>
      <ul>
        <% @attendees.each do |attendee| %>
          <li><%= attendee.first_name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= form_with(url: cart_add_path) do |f| %>
    <%= f.hidden_field :id, value: @event.id %>
    <%= f.number_field :quantity, value: 0, min: 0 %>
    <%= f.submit "Add to cart" %>
  <% end %>
  <div class="show-buttons">
    <%= link_to "Back to events", events_path, class: "btn btn-dark button-spacing" %>
    <% if @current_user_has_booked %>
        <%= button_to "I can't make it!", event_booking_path(@current_user_booking), class: "btn btn-dark button-spacing", method: :delete, data: {turbo_method: :delete} %>
    <% else %>
      <%= button_to "Take part!", event_event_bookings_path(@event), class: "btn btn-dark button-spacing" %>
    <% end %>

    <%= link_to "Edit event", edit_event_path(@event), class: "btn btn-dark button-spacing" %>
    <%= button_to "Delete", event_path(@event), class: "btn btn-dark button-spacing", method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
</div>