<div class="page-container">
  <h1 class="myH1"><%= @event.title %></h1>
  <div class="show-image">
    <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="show-info">
    <h3>Attendees</h3>
    <ul>
      <% @attendees.each do |attendee| %>
        <li><%= attendee.first_name %></li>
      <% end %>
    </ul>
  </div>
  <div class="show-buttons">
    <%= link_to "Back to events", events_path, class: "btn btn-dark" %>
    <% if @current_user_has_booked %>
        <%= button_to "I can't make it!", event_booking_path(@current_user_booking), class: "btn btn-dark", method: :delete, data: {turbo_method: :delete} %>
    <% else %>
      <%= button_to "Take part!", event_event_bookings_path(@event), class: "btn btn-dark" %>
    <% end %>

    <%= link_to "Edit event", edit_event_path(@event), class: "btn btn-dark" %>
    <%= button_to "Delete", event_path(@event), class: "btn btn-dark", method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
</div>